/*
 * Clearfix
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both }
.clearfix { *zoom: 1 }

/*
 * Layout
 */

html {
    height: 100%;
}

body {
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: 16px;
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

header {
    background: url("/assets/images/header-bg.jpg") no-repeat center top;
    min-height: 200px;
    padding: 36px 0;
}


footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
}

footer h6 { 
    text-align: center;
    margin-bottom: 5px;
}

.love { color: #ce4345 }

.social {
    text-align: center;
    margin-bottom: 10px;
}

.social a {
    margin: 0 .5em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social a:hover { opacity: 0.8 }

p,
li,
span {
    font-size: 1.2em;
}

.logo {
    font: 3em/1 'Roboto Slab', Verdana, sans-serif;
    color: #fff;
    text-decoration: none;
    float: left;
    margin-top: 60px;
}

.logo:hover {
    text-shadow: 2px 1px 1px rgba(99, 47, 93, 1);
    color: #fff;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

nav { float: right }

.navigation {
    text-align: right;
    padding-top: 72px;
}

.navigation li {
    display: inline-block;
    margin: 0 8px;
}

.navigation li a {
    font: 1.2em/1 'Roboto Slab', Verdana, sans-serif;
    color: #fff;
    text-decoration: none;
}

.navigation li a:hover {
    text-decoration: underline;
    text-shadow: 2px 1px 1px rgba(99, 47, 93, 1);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.posts {
    list-style: none;
    margin-top: 3em;
    padding-bottom: 8em;
}

.posts h2 {
    font-family: 'Roboto Slab', 'Roboto', Verdana, sans-serif;
    font-size: 1.9em;
    float: left;
}

.posts li {
    display: inline-block;
    width: 100%;
}

.en,
.bg {
    float: left;
    text-decoration: none;
    padding-right: 35px;
    color: #632F5D;
    line-height: 1;
}

.en:hover,
.bg:hover {
    color: #E79192;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.en { background: url("/assets/images/en.png") no-repeat right center }
.bg { background: url('/assets/images/bg.png') no-repeat right center }

.date {
    float: right;
    margin-top: 13px;
    font-size: .9em;
}

.heading {
    font-family: 'Roboto Slab', 'Roboto', Verdana, sans-serif;
    text-align: center;
    margin-top: 1.6em;
}

/* Single Post */
.post {
    margin-top: 5em;
    padding-bottom: 8em;
}

.post h1 {
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Roboto Slab', 'Roboto', Verdana, sans-serif;
}

/* About Us */

.general {
    border-bottom: 1px solid #222;
    position: relative;
}

.general:before,
.info:before{
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -5px;
    left: 50%;
    right: 50%;
    content: "";
    background: #222;
    border-radius: 50%;
}

.name h2 {
    font-size: 4em;
    font-family: 'Roboto', Verdana, sans-serif;
    margin-bottom: 0;
    color: #3B0A35;
}

.contact h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3B0A35;
}

.contact-list {
    list-style: none;
}

.contact-list a {
    margin-left: 10px;
    text-decoration: none;
    color: #996B93;
}

.contact-list a:hover {
    color: #531B4C;
}

.info {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #222;
    position: relative;
}

.contact-position { float: right }

.container .left,
.container .right{
    margin-top: 40px;
    padding-left: 20px;
    border-left: 1px solid #222;
    position: relative;
    margin-left: 8.66666666667%;
}

.container .left:first-of-type {
    margin-right: 4%;
    margin-left: 8.66666666667%
}

.left:before,
.right:before{
    position: absolute;
    width: 160px;
    height: 111px;
    content: "";
    left: -95px;
}

.left h3,
.right h3 {
    color: #3B0A35;
    margin-top: 0.25em;
}

.third,
.fifth {
    clear: both;
    margin-right: 4%;
}

.first:before  { background: url("/assets/images/about.png") no-repeat      }
.second:before { background: url("/assets/images/skills.png") no-repeat     }
.third:before  { background: url("/assets/images/school.png") no-repeat     }
.forth:before  { background: url("/assets/images/personal.png") no-repeat   }
.fifth:before  { background: url("/assets/images/experience.png") no-repeat }
.sixth:before  { background: url("/assets/images/awards.png") no-repeat     }

.third:after,
.forth:after,
.fifth:after,
.sixth:after {
    height: 15em;
    top: -15em;
    left: -1px;
    width: 1px;
    background: #000;
    content: "";
    position: absolute;
}

.second-school + .second-school,
.fifth-work + .fifth-work,
.sixth-award + .sixth-award {
    margin-top: 5em;
}


.second--year,
.second--town,
.fifth--year,
.sixth--year {
    margin-bottom: 0;
}

.second--name,
.fifth--name,
.sixth--name {
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.right-skills div { margin-bottom: 10px }
.right-skills .separate { margin-bottom: 5em }
.right-skills ul { list-style: none }

.right--name {
    min-width: 30%;
    float: left;
}

.right-percentage {
    float: right;
    height: 24px;
    background: #f0f0f0;
    width: 70%;
    position: relative;
}

.right-percentage:after {
    position: absolute;
    background: #212221;
    right: 0;
    height: 100%;
    content: "";
}

.ninety-five:after  { width: 95% }
.ninety:after       { width: 90% }
.eighty-four:after  { width: 84% }
.seventy-nine:after { width: 78% }
.fifty-five:after   { width: 55% }
.fifty:after        { width: 50% }
.forty:after        { width: 40% }


.personal-skill h4 {
    margin-bottom: 0;
    font-size: 2em;
    font-weight: 700;
}


.sixth,
.fifth {
    min-height: 600px;
}

.hobbies h2 {
    text-align: center;
    color: #3B0A35;
    margin-bottom: 0;
}

.hobie-images {
    text-align: center;
    padding-bottom: 10em;
}

.hobie-images img { max-width: 100% }
/* Media Queries */


@media all and (max-width: 901px) {
    .date {
        float: none;
        display: block;
        text-align: center;
        margin-bottom: 10px;
        clear: both;
    }
    
    .posts h2 {
        text-align: center;
        margin-bottom: 0;
        display: block;
        float: none;
    }
    
    .posts h2 a  {
        clear: both;
        float: none;
    }

    .container .left:first-of-type,
    .container .left{
        margin-left: 0;
        border-left: none;
    }
    
    .container .right {
        border-left: none;
        margin-left: 10%;
    }

    .third:after,
    .forth:after,
    .fifth:after,
    .sixth:after {
        display: none;
    }

    .left:before,
    .right:before {
        background: none;
    }
}

@media all and (max-width: 768px) {
    .navigation {
        text-align: center;
        display: block;
    }

    nav
    {
        clear: both;
        float: none;
    }

    .logo {
        float: none;
        display: block;
        text-align: center;
        margin-top: 0;
    }

    .contact-position { float: none }

    .left {
        border-left: none;
        border-bottom: 1px solid #222;
    }

    .left:before { display: none }

    .container .right {
        margin-left: 0;
        border-bottom: 1px solid #222;
    }

    .name h2,
    .name h5,
    .contact-position,
    .first,
    .second h3,
    .second ul,
    .third,
    .forth,
    .fifth,
    .sixth {
        text-align: center;
    }

    .right.sixth {
        border-bottom: none;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px)  {
    .right-percentage {
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
    }


}

@media all and (max-width: 390px) {
    .right--name {
        float: none;
        display: block;
    }

    .right-percentage {
        width: 100%;
    }
}