---
title: Archive - Kleo Petrov - JavaScript Developer
layout: default
---

<div class="container">
    <div class="row">
        <div class="archive">
            {% for post in site.posts %}

            {% unless post.next %}
              <h3 class="archive-year">{{ post.date | date: '%Y' }}</h3>
            {% else %}
              {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
              {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
              {% if year != nyear %}
                <h3 class="archive-year">{{ post.date | date: '%Y' }}</h3>
              {% endif %}
            {% endunless %}
                <p class="archive-paragraph"><a class="archive-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> - <small class="archive-meta"> {{ post.date | date_to_string }}</small></p>
            {% endfor %}
        </div>
    </div>
</div>
