---
layout: default
title: Archive - Kleo Petrov - Front-End Developer
---

<div class="container">
    <div class="row">
        <h1 class="heading">Archive</h1>
        <ul class="posts twelve column archive">
            {% for post in site.posts limit: 10 %}
            <li>
                <span class="date">{{post.date | date_to_string }}</span>
                <h2 class="clearfix"><a class="{% if post.language == 'en' %}en{% else post.language == 'bg' %}bg{% endif %}" href="{{post.url}}">{{post.title}}</a></h2>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>