---
layout: default
---

<div class="container">
    <div class="row">
        <ul class="posts">
            {% for post in paginator.posts %}

            {% assign minutes = post.content | number_of_words | divided_by: 180 %}
            {% if minutes == 0 %}
              {% assign read-time = site.less_than_minute %}
            {% else %}
              {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
            {% endif %}
                <li>
                    <article>
                        <h2 class="clearfix"><a class="post-title" href="{{post.url}}">{{post.title}}</a></h2>
                        <span class="meta">{{post.date | date_to_string }} • {{ read-time }} min read</span>
                        <p class="posts-description">{{post.description}}</p>
                    </article>
                </li>
            {% endfor %}
        </ul>
        {% include pagination.html %}
    </div>
</div>
