<footer>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h6>Made with <span class="love">&#9829;</span> by Kliment Petrov</h6>
                <div class="social">
                    <a href="http://github.com/Kleopetroff" target="_blank"><img src="/assets/images/icons/github.png" alt="Github Icon"/></a>
                    <a href="http://twitter.com/Kleopetroff" target="_blank"><img src="/assets/images/icons/twitter.png" alt="Twitter Icon"/></a>
                    <a href="https://bg.linkedin.com/in/kliment-petrov-957735a4" target="_blank"><img src="/assets/images/icons/linkedin.png" alt="LinkedIn Icon"/></a>
                </div>
            </div>
        </div>
    </div>

</footer>
