<header>
    <div class="container">
        <div class="row">
            <section class="presentation-logo">
                <a class="logo" href='/' title="Logo text">Kleo Petrov</a>
            </section>
            <nav class="header-navigation">
                <ul class="navigation row">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/archive">Archive</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
