<div id="qp_all1884102" style="width:100%;">
    <STYLE>
        BODY {border-color: rgb(0, 0, 0);color: rgb(0, 0, 0)} #main {background:transparent;}#qp_main1884102 .qp_btna:hover input {background: rgb(0, 0, 247)!important;border-color: rgb(0, 0, 0)!important;color: #fff!important} #qp_main1884102[results='0'] .qp_a:hover {border-color: rgb(0, 0, 0);color: rgb(0, 0, 0)!important} #qp_main1884102[results='0'] .qp_a[sel='1'] {border-color: rgb(0, 0, 0);color: rgb(0, 0, 0)!important}#qp_all1884102 {margin:0 auto;}
    </STYLE>
    <div id="qp_main1884102" fp='fB104bEb-53' results=0 cmt=0 tzs=2 tze=2 style="border-radius: 0px;margin: 0px auto;background: rgb(255, 255, 255);color: rgb(0, 0, 0);border: 0px none rgb(219, 217, 217);box-sizing: border-box">
        <div style="font-size: 1.2em;background: rgb(36, 36, 237);color: rgb(255, 255, 255);border-color: rgb(255, 255, 255)">
            <div style="padding: 0.8em;line-height: 1.3em">Which post would you like to see next?</div>
        </div>
        <form id="qp_form1884102" action="//www.poll-maker.com/results1884102xfB104bEb-53" method="post" target="_blank" style="display: inline;margin: 0px;padding: 0px">
            <div style="padding: 0px"><input type=hidden name="qp_d1884102" value="43146.3869212973-43146.3869158232">
                <div style="display: block;color: rgb(0, 0, 0);font-size: 1.1em;line-height: 1.5;padding: 13px 8px 11px;margin: 10px 0px;clear: both;border-color: rgb(107, 107, 107)"
                     class="qp_a"
                     onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)}var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
                    <span style="display: block;padding-left: 30px;cursor: inherit"><input
                            style="float: left;width: 20px;margin-left: -25px;margin-top: 2px;padding: 0px;height: 20px;-webkit-appearance:radio;"
                            name="qp_v1884102" type="radio"
                            value="1"/>Creating a testing infrastructure from scratch</span></div>
                <div
                        style="display: block;color: rgb(0, 0, 0);font-size: 1.1em;line-height: 1.5;padding: 13px 8px 11px;margin: 10px 0px;clear: both;border-color: rgb(107, 107, 107)"
                        class="qp_a"
                        onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)}var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
                    <span style="display: block;padding-left: 30px;cursor: inherit"><input
                            style="float: left;width: 20px;margin-left: -25px;margin-top: 2px;padding: 0px;height: 20px;-webkit-appearance:radio;"
                            name="qp_v1884102" type="radio" value="2"/>Getting started with WebAssembly</span></div>
                <div
                        style="display: block;color: rgb(0, 0, 0);font-size: 1.1em;line-height: 1.5;padding: 13px 8px 11px;margin: 10px 0px;clear: both;border-color: rgb(107, 107, 107)"
                        class="qp_a"
                        onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)}var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
                    <span style="display: block;padding-left: 30px;cursor: inherit"><input
                            style="float: left;width: 20px;margin-left: -25px;margin-top: 2px;padding: 0px;height: 20px;-webkit-appearance:radio;"
                            name="qp_v1884102" type="radio" value="3"/>Map and Set use cases and why JavaScript needs WeakMap or WeakSet</span>
                </div>
                <div
                        style="display: block;color: rgb(0, 0, 0);font-size: 1.1em;line-height: 1.5;padding: 13px 8px 11px;margin: 10px 0px;clear: both;border-color: rgb(107, 107, 107)"
                        class="qp_a"
                        onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)}var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
                    <span style="display: block;padding-left: 30px;cursor: inherit"><input
                            style="float: left;width: 20px;margin-left: -25px;margin-top: 2px;padding: 0px;height: 20px;-webkit-appearance:radio;"
                            name="qp_v1884102" type="radio" value="4"/>Performance optimization with will-change</span>
                </div>
            </div>
            <div style="padding-left: 0px;clear: both;text-align: left;margin: 1em auto"><a style="box-sizing: border-box;padding-right: 5px;text-decoration: none" class="qp_btna" href="#"><input name="qp_b1884102" style="min-width: 7.8em;padding: 0.5em;background: rgb(36, 36, 237);font-size: 16px;line-height: 0;font-weight: 300;color: rgb(255, 255, 255);cursor: pointer;border: 0px rgb(255, 255, 255);-webkit-appearance: none;border-radius: 0px" type="submit" btype="v" value="Vote" /></a>
                <a
                        style="box-sizing: border-box;padding-left: 5px;text-decoration: none" class="qp_btna" href="#"><input name="qp_b1884102" style="min-width: 7.8em;padding: 0.5em;background: rgb(36, 36, 237);font-size: 16px;line-height: 0;font-weight: 300;color: rgb(255, 255, 255);cursor: pointer;border: 0px rgb(255, 255, 255);-webkit-appearance: none;border-radius: 0px" type="submit" btype="r"
                                                                                                                               value="Results" /></a>
            </div>
        </form>
        <div style="display:none">
            <div id="qp_rp1884102" style="font-size: 14px;width: 5ex;text-align: right;overflow: hidden;position: absolute;right: 5px;height: 1.5em;line-height: 1.5em;color: rgb(255, 255, 255)"></div>
            <div id="qp_rv1884102" style="font-size: 14px;line-height: 1.5em;width: 0%;text-align: right;color: rgb(255, 255, 255);box-sizing: border-box;padding-right: 3px"></div>
            <div id="qp_rb1884102" style="font-size: 14px;line-height: 1.5em;color: rgb(255, 255, 255);display: block"></div>
            <div id="qp_rva1884102" style="border-color: rgb(0, 111, 185);background: rgb(0, 111, 185)"></div>
            <div id="qp_rvb1884102" style="background: rgb(22, 52, 99);border-color: rgb(22, 52, 99)"></div>
            <div id="qp_rvc1884102" style="background: rgb(20, 129, 171);border-color: rgb(20, 129, 171)"></div>
        </div>
    </div>
</div>
<script src="//scripts.poll-maker.com/3012/scpolls.js" language="javascript"></script>