
/* About Us */

.general {
    border-bottom: 1px solid #222;
    position: relative;
}

.info:before{
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -5px;
    left: 50%;
    right: 50%;
    content: "";
    background: #222;
    border-radius: 50%;
}

.name h2 {
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: 0;
    color: $main-color;
}
.name h5 { color: $secondary-color }

.contact h4 {
    margin-bottom: 10px;
    color: $main-color;
}

.contact-list {
    list-style: none;

    & li {
        margin-bottom: 0;
        color: $secondary-color;
    }

    a {
        margin-left: 10px;
        text-decoration: none;
        color: $main-color;

        &:hover {
            color: $link-hover-color;
        }
    }
}

.info {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #222;
    position: relative;
}

.contact-position { float: right }

.contact-position h2 {
    font-size: 2.3em;
    margin-bottom: 10px;
}

.container .left,
.container .right {
    padding-top: 40px;
    padding-left: 20px;
    border-left: 1px solid #222;
    position: relative;
    margin-left: 8.66666666667%;
}

.container .left:first-of-type {
    margin-right: 4%;
    margin-left: 8.66666666667%
}

.left:before,
.right:before{
    position: absolute;
    width: 160px;
    height: 111px;
    content: "";
    left: -95px;
}

.left h3,
.right h3 {
    color: $main-color;
    font-size: 2em;
    margin: 11px 0 18px;
}
.first p { line-height: 1.8 }
.first a:hover { color: $link-hover-color }

.third,
.fifth {
    clear: both;
    margin-right: 4%;
}

.first:before  { background: url("/assets/images/about.png") no-repeat      }
.second:before { background: url("/assets/images/skills.png") no-repeat     }
.third:before  { background: url("/assets/images/school.png") no-repeat     }
.forth:before  { background: url("/assets/images/personal.png") no-repeat   }
.fifth:before  { background: url("/assets/images/experience.png") no-repeat }
.sixth:before  { background: url("/assets/images/awards.png") no-repeat     }

.third:after,
.forth:after,
.fifth:after,
.sixth:after {
    min-height: 1346px;
    top: -23.3em;
    left: -1px;
    width: 1px;
    background: #212221;
    content: "";
    position: absolute;
}

.second-school + .second-school,
.fifth-work + .fifth-work,
.sixth-award + .sixth-award {
    margin-top: 5em;
}


.second--year,
.second--town,
.fifth--year,
.sixth--year {
    margin-bottom: 0;
    font-size: 1em;
}

.sixth--year {
    color: $secondary-color;
}

.second--name,
.fifth--name,
.sixth--name {
    color: $main-color;
    font-size: 1.7em;
    margin-bottom: 0;
}

.right-skills div { margin-bottom: 10px }
.right-skills .separate { margin-bottom: 2.7em }
.right-skills ul { list-style: none }

.right--name {
    min-width: 30%;
    float: left;
    font-size: 1em;
}

.right-percentage {
    float: right;
    height: 24px;
    background: #f0f0f0;
    width: 70%;
    position: relative;
}

.right-percentage:after {
    position: absolute;
    background: #212221;
    right: 0;
    height: 100%;
    content: "";
}

.ninety-five:after  { width: 95% }
.ninety:after       { width: 90% }
.eighty-four:after  { width: 84% }
.eighty:after       { width: 80% }
.seventy-nine:after { width: 78% }
.seventy-five:after { width: 75% }
.sixty:after        { width: 60% }
.fifty:after        { width: 50% }
.forty:after        { width: 40% }

.in-progress {
    text-align: center;
}

.personal-skill h4 {
    color: $main-color;
    margin-bottom: 0;
    font-size: 1.7em;
}

.sixth,
.fifth {
    min-height: 600px;
}

.sixth--description { font-size: 1.15em }

/* Remove top margin */
.personal-skill p,
.second--field,
.sixth--info,
.fifth--position{
    margin-top: 0;
}

.winner {
    color: $link-hover-color;
}

.winner:hover {
    color: $link-hover-color;
}

.hobbies h2 {
    text-align: center;
    margin-bottom: 0;
}

.hobie-images {
    text-align: center;
    padding-bottom: 8em;
}

.hobie-images img {
    max-width: 100%;
    margin-bottom: 35px;
}
