/* Archive */

.archive { margin: 3em 10em 7em }

.archive-year {
    font-size: 2em;
    margin-top: 1em;
}

.archive-paragraph { margin-bottom: 0 }

.archive-post {
    font-size: 1.2em;
    color: $main-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

.archive-meta {
    font-size: 1em;
    color: $secondary-color;
}
