/* Archive */

.archive {
    padding-bottom: 8rem;
}

.archive-year {
    font-size: 3rem;
}

.archive-paragraph {
    margin-bottom: 0;
}

.archive-post {
    font-size: 1.425em;
    color: $main-color;
    text-decoration: none;
    @include transition(color,0.2s, ease-in-out);

    &:hover {
        color: $secondary-color;
        text-decoration: underline;
    }
}

.archive-meta {
    margin-left: 5px;
    font-size: 1.2rem;
    color: $secondary-color;

    &:before {
        content: "•";
        position: relative;
        width: 20px;
        height: 100%;
    }
}
