
.heading {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.posts {
    list-style: none;
}

.posts h2 {
    font-size: 3rem;
    margin-bottom: 1.3rem;
}

.posts-description {
    font-size: 1.45em;
    max-width: 62em;
    font-weight: 300;
}

.posts li {
    display: inline-block;
    width: 100%;
    margin-bottom: 5rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.post-title {
    float: left;
    text-decoration: none;
    padding-right: 35px;
    line-height: 1;
    color: $main-color;

    &:hover {
        @include transition(all, .2s, ease-in);
        color: #5F5F5F;
    }
}

.meta {
    color: $secondary-color;
    display: block;
    margin-bottom: 10px;
    font-size: 1.25rem;
}
