.posts li {
    display: inline-block;
    width: 100%;
    margin-bottom: 3rem;
    border-bottom: 1px solid #ECECEC;

    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
}

.post-title:hover {
    @include transition(all, .2s, ease-out);
    color: #5F5F5F;
}

.meta {
    color: $secondary-color;
    display: block;
    margin-bottom: 10px;
    font-size: 1.25rem;
}
