
/* Single Post */
.post {
    margin: 2em 8em 0;
    padding-bottom: 8em;
}

.post p,
.post li {
    font-size: 1.1em;
    line-height: 1.75;
    margin-bottom: 0;
}

.post p {
    margin-top: 1em;
}

.post ol li {
    & li { font-size: 1em }
    & ul { margin-top: 0 }
    &:last-child { margin-bottom: 1em }
}

.post ul,
.post ol {
    margin-top: 1em;
    margin-bottom: 0;
}

.post h1 {
    margin-bottom: 0;
    font-size: 2.55em;
    font-weight: 900;
}

.post .meta {
    font-size: 0.9em;
    margin-bottom: 2em;
}

.post h2,
.post h3 {
    margin: 1.3em 0 0.5em;
    font-size: 1.7em;
    font-weight: bold;
}

.post h4,
.post h5 {
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.post a {
    @include transition(all, .2s, ease-out);
    color: $link-hover-color;
    text-decoration: none;

    &:hover { color: $secondary-color }
}

.post img {
    max-width: 100%;
}

.post pre {
    font-size: 1.1em;
}

// Disqus Posts
#disqus_thread {
    margin-top: 3em;
}