
/* Single Post */
.post {
    margin-top: 5em;
    padding-bottom: 8em;
}

.post p,
.post li {
    font-size: 1.25em;
    line-height: 1.7;
    margin-bottom: 0;
}

.post ol li {
    & li { font-size: 1.1em }
    & ul { margin-top: 0 }
    &:last-child { margin-bottom: 1em }
}

.post ul,
.post ol {
    margin-top: 1em;
    margin-bottom: 0;
}

.post h1 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 4em;
}

.post h2,
.post h3 {
    margin-top: 1.3em;
    font-size: 3rem;
}

.post h4,
.post h5 {
    font-size: 2.5rem;
}

.post a {
    @include transition(all, .3s, ease-in);
    color: $main-color;

    &:hover { color: $secondary-color }
}

// Disqus Posts
#disqus_thread {
    margin-top: 10em;
}