
$main-color: #121212;
$secondary-color: #787f85;
$link-hover-color: #2424ed;

$default-font-size: 16px;

$main-font: 'Merriweather', Verdana, sans-serif;
$main-font-weight: 300;
$main-heading-font: 'Droid Sans', Verdana, sans-serif;

$default-line-height: 1.35;

$main-yellow: #8a8a2e;