
$main-color: #383838;
$secondary-color: #7f7f7f;

$default-font-size: 16px;

$main-font: 'Merriweather', Verdana, sans-serif;
$main-font-weight: 300;
$main-heading-font: 'Lato', Verdana, sans-serif;

$default-line-height: 1.35;

$main-yellow: #8a8a2e;