
$main-color: #383838;
$secondary-color: #5F5F5F;

$default-font-size: 16px;

$main-font: 'Merriweather Light', Verdana, sans-serif;
$main-font-weight: 300;
$main-heading-font: 'Lato', Verdana, sans-serif;

$default-line-height: 1.35;
