.pagination { padding-bottom: 8em }

a.next,
a.previous {
    @include transition(all, .2s, ease-in);
    display: inline-block;
    background: #fff;
}

a.previous:hover,
a.next:hover {
    color: $link-hover-color;
    background: #fff;
    border-color: $link-hover-color;
}
