.pagination { padding-bottom: 8em }

a.next,
a.previous {
    @include transition(all, .2s, ease-in);
    display: inline-block;
    background: #f1f1f1;
}

a.previous:hover,
a.next:hover {
    color: #5d5d5d;
    background: #e1e1e1;
}
