html {
    height: 100%;
}

body {
    font-family: $main-font;
    font-size: $default-font-size;
    font-weight: $main-font-weight;
    line-height: $default-line-height;
    color: $main-color;
}

.wrapper {
    position: relative;
    min-height: 100%;
}
